*{margin:0;padding:0}.container{height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;background-color:#000;color:#fff}
.passenger-card-container{background-color:aqua;border:1px solid #000}
