.passengers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 6rem;

  max-width: 500px;

  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 0.5rem;
    border-bottom: 1px solid rgb(229 231 235);

    @media (max-width: 640px) {
      height: 12rem;
    }
  }

  @media (max-width: 640px) {
    padding-top: 12rem;
  }
}
