* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
 background-color: rgba(229, 231, 235, 0.534);
 min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
